<body>
	<!-- nav -->
	{{> nav}}
  <!-- houses form -->
  <!-- create listing form -->
  <div class="container mb-5">
    <!-- Content here -->
    <form action="/houses/{{house._id}}?_method=PATCH" method="post">
      <h1>Edit a House</h1>
      <div class="mb-3">
        <label class="form-label">Short Title</label>
        <input type="text" class="form-control" name="title" value="{{house.title}}" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea
          class="form-control"
          name="description"
          rows="7"
					required
        >{{house.description}}</textarea>
      </div>
      <div class="mb-3">
        <span>Number of Rooms</span>
        <input name="rooms" value="{{house.rooms}}" type="number" class="form-control" required />
      </div>
      <!-- Location - select -->
      <div class="input-group">
				<div class="input-group">Location
					<span class="input-group-text">
						<i class="fa-solid fa-location-dot"></i
					></span>
					<select
						class="form-select"
						name="location"
						value="{{house.location}}"
						id="inputGroupSelect03"
						aria-label="Example select with button addon"
						required
					>
						<!-- !!! replace with locations from the houses? -->
						<!-- !!! what logic is required here to select the option from the data input? -->
						<option>Any Location</option>
						<option>Koh Samui</option>
						<option>Koh Phangan</option>
						<option>Koh Tao</option>
					</select>
				</div>
      </div>
      <!-- Price - !!! fix $ icon bit  -->
      <div class="mb 3">
        <label class="form-label">Price (per night)</label>
        <span class="input-group-text fw-bold">$</span>
        <input type="number" name="price" value="{{house.price}}" class="form-control" required />
      </div>
      <!-- Add photos - 1 label then multiple inputs text with placeholder -->
			<!-- !!! for each logic on house.photos -->
      <div class="mb-3">
        <label class="form-label">Add Photos (up to 9)</label>
				<!-- make handlebars repeat the block 9 times -->
				<!-- {{#each photos as |photo|}} -->
	        <input
						name="photos"
	          type="text"
	          class="mb-2 form-control"
	          placeholder="http://..."
	          aria-describedby="."
	        />
				<!-- {{/each}} -->
        <input
					name="photos"
          type="text"
          class="mb-2 form-control"
          placeholder="http://..."
          aria-describedby="."
        />
        <input
					name="photos"
          type="text"
          class="mb-2 form-control"
          placeholder="http://..."
          aria-describedby="."
        />
        <input
					name="photos"
          type="text"
          class="mb-2 form-control"
          placeholder="http://..."
          aria-describedby="."
        />
        <input
          type="text"
          class="mb-2 form-control"
          placeholder="http://..."
          aria-describedby="."
        />
        <input
					name="photos"
          type="text"
          class="mb-2 form-control"
          placeholder="http://..."
          aria-describedby="."
        />
        <input
					name="photos"
          type="text"
          class="mb-2 form-control"
          placeholder="http://..."
          aria-describedby="."
        />
        <input
					name="photos"
          type="text"
          class="mb-2 form-control"
          placeholder="http://..."
          aria-describedby="."
        />
        <input
					name="photos"
          type="text"
          class="mb-2 form-control"
          placeholder="http://..."
          aria-describedby="."
        />
      </div>
			<!-- !!! needs different buttons - Update and Delete -->
      <button class="btn btn-primary" name="command" value="update">Update</button>
			<button class="btn btn-primary" name="command" value="delete">Delete</button>
    </form>
  </div>
</body>
