<body>
	<!-- nav -->
	{{> nav}}
  <!-- houses form -->
  <!-- !!! how to make sure all cards go to the same height always? -->
  <!-- houses form -->
  <div class="p-1 bg-light text-dark border-top">
    <div class="container-md my-3">
      <div class="container">
				<form action="/houses" method="get">
	        <div class="row">
	          <div class="col">
							<!-- location -->
	            <div class="input-group">
	              <span class="input-group-text">
	                <i class="fa-solid fa-location-dot"></i
	              ></span>
	              <select
	                class="form-select"
									name="location"
	                id="inputGroupSelect03"
	                aria-label="Example select with button addon"
	              >
	                <!-- !!! replace with locations from the houses? -->
	                <option selected value="any">Any Location</option>
	                <option>Koh Samui</option>
	                <option>Koh Phangan</option>
	                <option>Koh Tao</option>
	              </select>
	            </div>
	          </div>
	          <div class="col">
							<!-- rooms -->
	            <div class="input-group">
	              <span class="input-group-text"
	                ><i class="fa-solid fa-house"></i
	              ></span>
	              <select
	                class="form-select"
									name="rooms"
	                id="inputGroupSelect03"
	                aria-label="Example select with button addon"
	              >
	                <option selected value="any">Any Rooms</option>
	                <option value="1">One</option>
	                <option value="2">Two</option>
	                <option value="3">Three</option>
	              </select>
	            </div>
	          </div>
	          <div class="col">
							<!-- price -->
	            <div class="input-group">
	              <span class="input-group-text fw-bold">$</span>
	              <input
	                type="number"
									name="maxPrice"
	                class="form-control"
	                placeholder="max price"
	              />
	            </div>
	          </div>
	          <div class="col">
							<!-- sort -->
	            <div class="input-group">
	              <span class="input-group-text"
	                ><i class="fa-solid fa-sort"></i
	              ></span>
	              <select
	                class="form-select"
									name="sort"
	                id="inputGroupSelect03"
	                aria-label="Example select with button addon"
	              >
	                <!-- replace these with options -->
	                <option selected>Choose...</option>
	                <option value="price">Price (low to high)</option>
	                <option value="-price">Price (high to low)</option>
	                <!-- <option value="3">Price (another)</option> -->
	              </select>
	            </div>
	          </div>
	          <div class="col">
							<!-- title -->
	            <div class="input-group">
	              <input
	                type="text"
	                class="form-control"
									name="title"
	                id="exampleInputEmail1"
	                aria-describedby="emailHelp"
	                placeholder="House Name..."
	              />
	            </div>
	          </div>
	          <div class="col">
							<input
								type="hidden"
								name="filtering"
								value="true"
							/>
	            <!-- !!! replace - button to submit form -->
	            <button class="btn btn-primary">Search</button>
	          </div>
	        </div>
				</form>
      </div>
    </div>
  </div>
  <!-- end houses form -->
  <!-- houses listings -->
  <div class="container">
    <div class="row row-cols-4 g-6 my-5">
      <!-- houses hbs loop -->
			{{#each houses as |house|}}
	      <div class="col my-2">
	        <div class="card">
						<a href="/houses/{{house._id}}" class="stretched-link"></a>
	          <img
	            src="{{house.photos.[0]}}"
	            class="card-img-top"
	            alt="..."
	          />
	          <div class="card-body">
	            <!-- location/rooms grid -->
	            <!-- !!! how to make it left-justified but long enough for location name? -->
	            <div class="container mx-3">
	              <div class="row">
	                <div class="col">
	                  <i class="fa-solid fa-location-dot"></i>
	                  {{house.location}}
	                </div>
	                <div class="col">
	                  <i class="fa-solid fa-circle"></i>{{house.rooms}} Rooms
	                </div>
	              </div>
	            </div>
	            <h2>{{house.title}}</h2>
	            <span> <i class="fa-solid fa-thumbs-up"></i> X Reviews </span>
	            <!-- Option 2 - thumbs down -->
	            <!-- <span><i class="fa-solid fa-thumbs-down"></i> X Reviews </span>  -->
	            <span>
	              ${{house.price}}/night
	            </span>
	          </div>
					</a>
	        </div>
	        <!-- end House -->
	      </div>
			{{/each}}
			<!-- end houses hbs loop -->
    </div>
  </div>
  <!-- end houses list -->
</body>
