<body>
	{{> nav}}
  <!-- !!! make full width, take out container -->
  <!-- !!! how to make sure all cards go to the same height always? -->
  <!-- image pane -->
  <div class="border-bottom"></div>
  <div class="container text-center">
    <div class="row">
      <!-- large image -->
			<!-- first photo in house.photos[0] -->
      <div class="col">
        <img
          class="img-lg img-fluid"
          src="{{house.photos.[0]}}"
          alt=""
        />
      </div>
      <!-- 3*3 image grid -->
			<!-- for each image in house.photos  -->
      <!-- !!! how to center  this within the about grid column? -->
      <div class="col d-flex align-items-center">
        <div class="container">
          <div class="row row-cols-3">
						{{#each house.photos as |photo|}}
	            <div class="col">
	              <img
	                class="img-lg img-fluid p-1"
	                src={{photo}}
	                alt=""
	              />
	            </div>
						{{/each}}
            <!-- <div class="col">
              <img
                class="img-sm img-fluid p-1"
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_02.png"
                alt=""
              />
            </div>
            <div class="col">
              <img
                class="img-sm img-fluid p-1"
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_03.png"
                alt=""
              />
            </div>
            <div class="col">
              <img
                class="img-sm img-fluid p-1"
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_04.png"
                alt=""
              />
            </div>
            <div class="col">
              <img
                class="img-sm img-fluid p-1"
                alt=""
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_05.png"
                alt=""
              />
            </div>
            <div class="col">
              <img
                class="img-sm img-fluid p-1"
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_06.png"
                alt=""
              />
            </div>
            <div class="col">
              <img
                class="img-sm img-fluid p-1"
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_07.png"
                alt=""
              />
            </div>
            <div class="col">
              <img
                class="img-sm img-fluid p-1"
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_08.png"
                alt=""
              />
            </div>
            <div class="col">
              <img
                class="img-sm img-fluid p-1"
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_09.png"
                alt=""
              />
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main-sidebar -->
  <!-- !!! ditch margins, replace with column gap in middle (like first is 6, second 4, gap 2) -->
  <div class="container my-5">
    <div class="row text-start">
      <!-- property details -->
      <div class="col-7">
        <div class="row">
          <div class="col" name="main-page">
            <!-- listing details -->
            <div class="" name="listing-details">
              <h1 class="border-bottom pb-3">{{house.title}}</h1>
              <!-- location/rooms -->
              <div class="container mx-3 my-3">
                <div class="row">
                  <div class="col">
                    <span>
                      <i class="fa-solid fa-location-dot"></i>
                      {{house.location}}
                    </span>
                  </div>
                  <div class="col">
                    {{house.rooms}}
                  </div>
                </div>
              </div>
              <!-- host details -->
              <div class="container mx-3">
                <div class="row">
                  <div class="col">
                    <img
                      src="{{hostAvatar}}"
                      alt=""
                      class="avatar-img-lg"
                    />
                  </div>
                  <!-- !!! align text left, text formatting smaller on 'hosted by' -->
                  <div class="col">
                    <div>Hosted by</div>
                    <div>{{hostName}}</div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="mt-3 mb-5">
                <p>
                  {{house.description}}
                </p>
              </div>
            </div>
            <!-- reviews -->
            <div class="" name="listing-reviews">
              <!-- review detail/form -->
              <h1>X reviews</h1>
              <form action="/reviews" method="post">
								<input type="hidden" value="{{house._id}}" name="house" />
                <span>Leave a review</span>
                <div class="input-group">
                  <textarea
                    class="form-control"
                    placeholder="Send the host a message..."
										name="description"
                  ></textarea>
                </div>
                <div>
                  <span>
                    <i class="fa-solid fa-thumbs-up mx-2 my-2"></i
                    ><i class="fa-solid fa-thumbs-down"></i
                  ></span>
                </div>
                <button class="btn btn-primary">Submit</button>
              </form>
              <!-- existing reviews -->
              <!-- !!! once 'hosted by' block is perfect, nick it, then place review text underneath -->
							{{#each reviews as |review|}}
	              <div class="card mt-4">
	                <div class="row">
	                  <div class="col-1">
											<img src="{{review.author.avatar}}" />
										</div>
	                  <div class="col-11">
	                    <div class="card-body">
	                      <div class="container p-0">
	                        <div class="row">
	                          <div class="col">
	                            date time
	                          </div>
	                          <div class="col text-end">
	                            icon thumbs up/down
	                          </div>
	                        </div>
	                      </div>
												<h3>{{review.author.name}}</h3>
	                      <p class="card-text">
	                        {{review.description}}
	                      </p>
	                    </div>
	                  </div>
	                </div>
	              </div>
							{{/ each}}
            </div>
          </div>
        </div>
      </div>
      <!-- end property details -->
      <!-- booking section -->
      <!-- !!! Form wants shadow and to scroll with page (position fixed or something?) -->
      <div class="col-4 offset-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">${{house.price}}/night</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <span>
                <i class="fa-solid fa-thumbs-up mx-2 my-2"></i> X
                Reviews</span
              >
            </h6>
						<!-- booking exists -->
						{{#if bookingExists}}
							<div class="p-3 mb-2 bg-success text-white">Booking request sent!</div>
						{{else}}
							<!-- no booking yet -->
							<form action="/bookings" method="post">
								<div class="input-group">
									<textarea
										class="form-control"
										name="description"
										placeholder="Send the host a message..."
									></textarea>
								</div>
								<input type="hidden" value="{{house._id}}" name="house" />
								<button class="btn btn-primary my-2">Request Booking</button>
							</form>
						{{/ if}}
          </div>
        </div>
      </div>
      <!-- end booking section -->
    </div>
  </div>
</body>
</html>
